automations/node-RED/doorbell.json
[
    {
        "id": "616249f0fec2c06a",
        "type": "tab",
        "label": "Doorbell",
        "disabled": false,
        "info": "## Flow for automating doorbell\n**By Anders Lukic**\n\n---\n\nFlow for doorbell automation that:\n\n - plays doorbell sound and TTS over Sonos speaker when doorbell is pressed between 07.00 and 19.00 if somebody is home\n -  sends notification to mobile if nobody is home or after 19.00 with image (snapshot) from camera as an attachment\n -  display live camera feed on tablet running FullyKioskBrowser "
    },
    {
        "id": "8dc463d3f50b71fd",
        "type": "server-events",
        "z": "616249f0fec2c06a",
        "name": "Deconz events",
        "server": "3bebce79.1e0962",
        "event_type": "deconz_event",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "55219958c36c2e20"
            ]
        ]
    },
    {
        "id": "55219958c36c2e20",
        "type": "switch",
        "z": "616249f0fec2c06a",
        "name": "Doorbell?",
        "property": "payload.event.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hue_smart_button",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "a19e9a5c22cec7e7"
            ]
        ]
    },
    {
        "id": "d0482723a85e5071",
        "type": "switch",
        "z": "616249f0fec2c06a",
        "name": "Is home?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "not_home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 100,
        "wires": [
            [
                "0458dc5cd4037d00"
            ],
            [
                "e201d80127a3ca77"
            ]
        ]
    },
    {
        "id": "0c0e2daf28bd9106",
        "type": "api-current-state",
        "z": "616249f0fec2c06a",
        "name": "Get home state",
        "server": "3bebce79.1e0962",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "group.all_persons",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "d0482723a85e5071"
            ]
        ]
    },
    {
        "id": "0458dc5cd4037d00",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Notify when not home or at night",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notify",
        "entityId": "",
        "data": "{\"title\":\"Ding Dong!\",\"message\":\"Somebody is at the door\",\"data\":{\"attachment\":{\"content-type\":\"jpeg\",\"image\":\"http(s)://HA_URL/local/snapshots/carport.jpg\",\"url\":\"http(s)://HA_URL/local/snapshots/carport.jpg\"}}}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 970,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a19e9a5c22cec7e7",
        "type": "switch",
        "z": "616249f0fec2c06a",
        "name": "Pressed?",
        "property": "payload.event.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "0c0e2daf28bd9106",
                "ce4d0d99dca9a5c0"
            ]
        ]
    },
    {
        "id": "e201d80127a3ca77",
        "type": "time-range-switch",
        "z": "616249f0fec2c06a",
        "name": "Day time?",
        "lat": "",
        "lon": "",
        "startTime": "07:00",
        "endTime": "19:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 900,
        "y": 100,
        "wires": [
            [
                "f752ea229770a1dc"
            ],
            [
                "0458dc5cd4037d00"
            ]
        ]
    },
    {
        "id": "f752ea229770a1dc",
        "type": "template",
        "z": "616249f0fec2c06a",
        "name": "data_variables",
        "field": "sonos_data",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"sonos_entity\": \"media_player.sonos1\",\n    \"volume\": \"0.51\",\n    \"message\": \"Somebody is at the door\"\n}",
        "output": "json",
        "x": 1080,
        "y": 100,
        "wires": [
            [
                "31d4b2e37b3377cd"
            ]
        ]
    },
    {
        "id": "31d4b2e37b3377cd",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Snapshot",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "sonos",
        "service": "snapshot",
        "entityId": "{{ sonos_data.sonos_entity }}",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 100,
        "y": 170,
        "wires": [
            [
                "c654f5eb2188e7d0",
                "b8f268397f86c006"
            ]
        ]
    },
    {
        "id": "c654f5eb2188e7d0",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Unjoin",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "{{ sonos_data.sonos_entity }}",
        "data": "{\"volume_level\":\"{{ sonos_data.volume }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 250,
        "y": 170,
        "wires": [
            [
                "400966e845ef7e83"
            ]
        ]
    },
    {
        "id": "400966e845ef7e83",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Volume",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "volume_set",
        "entityId": "{{ sonos_data.sonos_entity }}",
        "data": "{\"volume_level\":\"{{ sonos_data.volume }}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 380,
        "y": 170,
        "wires": [
            [
                "f2f7f635477a76ed"
            ]
        ]
    },
    {
        "id": "f2f7f635477a76ed",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Doorbell",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "{{ sonos_data.sonos_entity }}",
        "data": "{\"media_content_id\":\"[URL]/local/assets/sound/doorbell-1.mp3\",\"media_content_type\":\"music\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 520,
        "y": 170,
        "wires": [
            [
                "08e2c71ab6e2104a"
            ]
        ]
    },
    {
        "id": "0813d0a7ed38bd29",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "TTS",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "tts",
        "service": "google_translate_say",
        "entityId": "{{ sonos_data.sonos_entity }}",
        "data": "{\"message\":\"{{ sonos_data.message }}\",\"language\":\"da\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 790,
        "y": 170,
        "wires": [
            [
                "b691c1a9d4f89183"
            ]
        ]
    },
    {
        "id": "b691c1a9d4f89183",
        "type": "delay",
        "z": "616249f0fec2c06a",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 920,
        "y": 170,
        "wires": [
            [
                "81c2dd8715785b67"
            ]
        ]
    },
    {
        "id": "81c2dd8715785b67",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Restore",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "sonos",
        "service": "restore",
        "entityId": "{{ sonos_data.sonos_entity }}",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1060,
        "y": 170,
        "wires": [
            []
        ]
    },
    {
        "id": "08e2c71ab6e2104a",
        "type": "delay",
        "z": "616249f0fec2c06a",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 170,
        "wires": [
            [
                "0813d0a7ed38bd29"
            ]
        ]
    },
    {
        "id": "ce4d0d99dca9a5c0",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Camera snapshot",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "camera",
        "service": "snapshot",
        "entityId": "camera.carport",
        "data": "{\"filename\":\"/config/www/snapshots/carport.jpg\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 580,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b8f268397f86c006",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Wake up tablet",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "browser_mod",
        "service": "no_blackout",
        "entityId": "",
        "data": "{\"deviceID\":\"cb25ba4e-5d65e2c4\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "4457cb8ad3966e46"
            ]
        ]
    },
    {
        "id": "4457cb8ad3966e46",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Show camera",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "browser_mod",
        "service": "more_info",
        "entityId": "camera.carport",
        "data": "{\"deviceID\":\"cb25ba4e-5d65e2c4\",\"large\":true}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "529d96590f6c68d7"
            ]
        ]
    },
    {
        "id": "529d96590f6c68d7",
        "type": "delay",
        "z": "616249f0fec2c06a",
        "name": "Wait 1 ½ min",
        "pauseType": "delay",
        "timeout": "90",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "02d1e9bbdc2bba6b"
            ]
        ]
    },
    {
        "id": "02d1e9bbdc2bba6b",
        "type": "api-call-service",
        "z": "616249f0fec2c06a",
        "name": "Close popup",
        "server": "3bebce79.1e0962",
        "version": 1,
        "debugenabled": false,
        "service_domain": "browser_mod",
        "service": "close_popup",
        "entityId": "",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    }
 
]